# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

# Dependências do Node
node_modules/

# Arquivos de build
dist/
build/ # Se você tiver uma pasta de build diferente de 'dist'

# Arquivos do IDE (VS Code)
.vscode/

# Arquivos de log
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variáveis de ambiente
.env
.env.local
.env.*.local

# Outros arquivos temporários/locais
.DS_Store # macOS
Thumbs.db # Windows
